<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>EmpleadoServlet</servlet-name>
        <servlet-class>chalo.servlet.EmpleadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>chalo.servlet.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Autenticacion</servlet-name>
        <servlet-class>chalo.servlet.Autenticacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateriaServlet</servlet-name>
        <servlet-class>chalo.servlet.MateriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionServlet</servlet-name>
        <servlet-class>chalo.servlet.GestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailServlet</servlet-name>
        <servlet-class>chalo.servlet.EmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProveedoresServlet</servlet-name>
        <servlet-class>chalo.servlet.GestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestioonServlet</servlet-name>
        <servlet-class>chalo.servlet.GestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuebleServlet</servlet-name>
        <servlet-class>chalo.servlet.MuebleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SugerenciasServlet</servlet-name>
        <servlet-class>chalo.servlet.SugerenciasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TareaServlet</servlet-name>
        <servlet-class>chalo.servlet.TareaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmpleadoServlet</servlet-name>
        <url-pattern>/EmpleadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Autenticacion</servlet-name>
        <url-pattern>/Autenticacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateriaServlet</servlet-name>
        <url-pattern>/MateriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionServlet</servlet-name>
        <url-pattern>/GestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailServlet</servlet-name>
        <url-pattern>/EmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveedoresServlet</servlet-name>
        <url-pattern>/ProveedoresServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestioonServlet</servlet-name>
        <url-pattern>/GestioonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuebleServlet</servlet-name>
        <url-pattern>/MuebleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SugerenciasServlet</servlet-name>
        <url-pattern>/SugerenciasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TareaServlet</servlet-name>
        <url-pattern>/TareaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
