div.content {
  float: right;
  width: 450px;}
  
div.slideshow-container {
 
 
  height: 450px;
  padding: 0;}
  

  

 
  
ul.thumbs li {
  float: left;
  padding: 0;
  margin: 50px 15px 10px 0;
  list-style: none;}
  
  




