div.content {
  float: right;
  width: 450px;}
  
div.slideshow-container {
  position: relative;
 
  height: 450px;
  padding: 0;}
  

  
div.slideshow span.image-wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;}
  
  ul.thumbs {
  clear: both;
  margin: 0;
  padding: 0;}
  
ul.thumbs li {
  float: left;
  padding: 0;
  margin: 50px 10px 0px 0;
  list-style: none;}
  
  


